@use 'sass:color';

$dark: #000;
$light: #FFF;
$light-opacity: rgba(255, 255, 255, .4);
$primary: rgba(32, 32, 32, 1);
$primary-opacity: rgba(32, 32, 32, .9);
$secondary: rgba(231, 125, 4, 1);
$secondary-opacity: rgba(231, 125, 4, 0.6);
$secondary-gradient: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
$secondary-gradient-hover: linear-gradient(165deg, #ff4e00 0%, #ec9f05 74%);

